@import "../variables"; // 导入全局主题变量

// 表格相关变量
$table-header-bg: #fef9f5; // 表头背景色（浅红色，从图片中提取）
$table-text-color: $text-regular; // 表格文字颜色
$table-header-text-color: $text-primary; // 表头文字颜色
$table-row-selected-border-color: $primary-color-light; // 表格行选中边框色
$table-row-hover-border-color: $border-color-light; // 表格行悬停边框色
$table-row-border-radius: $border-radius-large; // 表格边框圆角
$table-focus-border-color: lighten(saturate(adjust-hue($primary-color, -10deg), 10%), 17%);

// 分页器相关变量
$paginator-item-size: 32px; // 分页器项目大小
$paginator-item-margin: 4px; // 分页器项目间距
$paginator-text-color: $text-regular; // 分页器文字颜色
$paginator-active-background-color: $primary-color; // 分页器激活项背景色
$paginator-active-text-color: #ffffff; // 分页器激活项文字颜色
$paginator-border-radius: $border-radius-base; // 分页器圆角

// 表格hover或选中行的统一背景色样式
@mixin table-hover-background {
  background-color: $light-blue-background-color !important; // 使用浅蓝色背景
}

// 定义去除框线
@mixin remove-borders {
  border: none !important;
  border-width: 0 !important;
}

// 覆盖Layui-Vue表格相关CSS变量
.layui-table {
  border-radius: $border-radius-base;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);

  th,
  td {
    @include remove-borders;
    font-size: 10px;
  }
  th {
    color: $table-header-text-color;
    font-weight: bold;
  }
  td {
    color: $table-text-color;
  }

  tbody {
    tr {
      &:hover {
        td {
          @include table-hover-background;
        }
      }

      // 表格行两边的圆角
      td {
        &:first-child {
          border-radius: $table-row-border-radius 0 0 $table-row-border-radius;
        }
        &:last-child {
          border-radius: 0 $table-row-border-radius $table-row-border-radius 0;
        }
      }
    }
  }

  // 表格斑马纹样式
  &.layui-table-even {
    tr:nth-child(2n) {
      td {
        @include table-hover-background;
      }
    }
  }
}

// 去除边框
[class^="layui-table"] {
  @include remove-borders;
}

// 表格工具条
.layui-table-tool {
  background-color: #ffffff !important;
  .layui-inline[lay-event] {
    @include remove-borders;
  }
}
// 表格头部背景色
.layui-table-header .layui-table-cell {
  background-color: $table-header-bg;
}

// 表格勾选图标样式
.layui-checkbox[size="md"] .layui-form-checkbox[lay-skin="primary"] {
  .layui-icon {
    height: 10px;
    box-sizing: content-box;
    font-size: 8px;
    font-weight: bold;
    line-height: 10px;
    width: 10px;
    border-radius: 2px;
  }
  .layui-checkbox-label {
    height: 14px;
  }
}

// 表格选中行样式

// 分页器样式
